<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" preserve-order="true" name="datadriven-selenium-java-demo">
        <classes>
            <class name="com.automation.tests.DataDrivenParallelTest">
                <parameter name="browserType" value="firefox"/>
                <methods>
                    <include name="googleSearchParallelTest"/>
                </methods>
            </class>
            <class name="com.automation.tests.DataDrivenTest">
                <parameter name="browserType" value="edge"/>
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>